{
  "extends": [
    "plugin:security/recommended",
    "airbnb",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": [
    "import",
    "jsx-a11y",
    "react",
    "react-hooks",
    "security",
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      },
//      {
//        "blankLine": "always",
//        "prev": [
//          "const",
//          "let",
//          "var"
//        ],
//        "next": [
//          "const",
//          "let",
//          "var"
//        ]
//      },
      {
        "blankLine": "always",
        "prev": "directive",
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": "directive",
        "next": "directive"
      }
    ],


    "indent": 0,
    "no-console": 0,
    "no-unused-vars": [1, { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_" }],
    "max-len": [
      1,
      {
        "code": 120,
        "tabWidth": 2,
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "arrow-parens": "off", // Несовместимо с prettier
    "no-mixed-operators": "off", // Несовместимо с prettier
    "object-curly-newline": "off", // Несовместимо с prettier
    "space-before-function-paren": 0, // Несовместимо с prettier
    "function-paren-newline": 0,
    "react/require-default-props": 0,
    "import/no-named-as-default-member": 0,
    "import/no-named-as-default": 0,
    "import/named": 0,
    "import/extensions": [
      2,
      {
        "tsx": "never",
        "ts": "never"
      }
    ],
    // JSX-a11y
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["a"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ],
    "react/forbid-prop-types": [1, { "forbid": ["any", "object"], "ignore": ["style", "data", "variables"] }],
    "react/static-property-placement": 1,
    "react/function-component-definition": 0,
    "react/jsx-key": [1, { "checkFragmentShorthand": true, "warnOnDuplicates": true }],
    "react/jsx-wrap-multilines": 1,
    "react/jsx-fragments": 0,
    "react/jsx-props-no-spreading": [1, { "custom": "ignore" }],
    "react/destructuring-assignment": 1,
    "react/jsx-curly-newline": 0, // Несовместимо с prettier
    "react/prop-types": [
      1,
      {
        "ignore": [
          // `dispatch` is typically used by Redux `@connect`
          "dispatch",
          // `data` is injected by Apollo
          "data",
          // default "style" prop could be unshaped objected
          "style",
          // `variables` is used for GraphQL queries
          "variables"
        ],
        "skipUndeclared": true
      }
    ],
    "react/jsx-no-bind": [
      1,
      {
        "ignoreDOMComponents": false,
        "ignoreRefs": false,
        "allowArrowFunctions": false,
        "allowFunctions": false,
        "allowBind": false
      }
    ],
    "react/jsx-closing-bracket-location": [
      1,
      {
        "selfClosing": "tag-aligned",
        "nonEmpty": "after-props"
      }
    ],
    "react/jsx-one-expression-per-line": [1, { "allow": "single-child" }],
    "react/jsx-filename-extension": [1, { "extensions": [".jsx", ".tsx"] }],
    "prettier/prettier": 2,
    "lines-between-class-members": 0,
    "max-classes-per-file": 0,
    "prefer-object-spread": 1,
    "operator-linebreak": 0, // Несовместимо с prettier
    "react-hooks/rules-of-hooks": 2,
    "react-hooks/exhaustive-deps": 1
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 10,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "globals": {
    "graphql": false
  }
}

